
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/styles/onePlayer.css">
 	<script src='/static/scripts/login.js' defer></script>
	<title>login</title>
</head>
<body>

	
	<form>
		<input type=text id='username'>
		<input type=text id='password'>
		<button id='submit'> log In </button>
		
	</form>

	  
  

</body>
</html>