
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/styles/onePlayer.css">
 	<script src='/static/scripts/onePlayer.js' defer></script>
	<title>Document</title>
</head>
<body>

	<p class='test'> players infoPage</p>
	<div id="test"></div>
	    <main>
  
            <a class="players">
            	<% console.log(content)%>
                <%- content.name %>
                <%- content.age %>
                <%- content.ovrpot %>
                <%- content.country %>
            </a>
      
    </main>
</body>
</html>